KIA_US_USERNAME=your_username_here
KIA_US_PASSWORD=your_password_here
KIA_US_PIN=your_pin_here

HYUNDAI_KIA_USERNAME=your_username_here
HYUNDAI_KIA_PASSWORD=your_password_here
HYUNDAI_KIA_PIN=your_pin_here
HYUNDAI_KIA_VEHICLE_ID=your_vehicle_id_here
HYUNDAI_KIA_REGION=1
HYUNDAI_KIA_BRAND=2
